section {
  display: flex;
  width: 100%;
  height: 100%;
  margin-left: 5px;
  background-color: #EBEDF3;
  overflow-x: scroll;
}
.campaign_div {
  width: 20%;
  height: 300px;
  display: inline-flex;
  align-self: flex-start;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 2.5%;
}
.campaign_div:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.050), 0 6px 20px 0 rgba(0, 0, 0, 0.050);
  background-color: rgb(255, 255, 255, 0.8);
}
.campaign_cont {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  align-self: flex-end;
  flex-wrap: wrap;
}
app-popup {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.267);
}


