<section >
   <app-popup *ngIf="createCampaign"></app-popup>
  <div class="campaign_cont" >
      <div class="campaign_div" *ngFor="let campaign of campaigns">
        <h3>{{ campaign.campaignName }}</h3>
        <h4>Number of leads: 0</h4>
        <button (click)="viewCampaign(campaign._id)">View campaign</button>
        <hr>
        <div>
            <button>Change name</button>
            <button (click)="deleteCampaign(campaign._id)">Delete</button>
        </div>
      </div>
  </div>
</section>
