header {
  display: inline-flex;
  background-color: #00CAE6;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 0;
}
.logo {
  display: inline-flex;
  align-self: flex-start;
  max-width: 5%;
  height: 100%;
  margin-left: 1%;
}
.logo img {
  width: auto;
  height: 100%;
}
.user {
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  justify-content: flex-end;
  width: 30%;
  height: 100%;
  margin-right: 1%;
}
.user button {
  background-color: rgb(16, 215, 241);
  border: none;
  font-family: 'Exo', sans-serif;
  max-width: 30%;
  height: auto;
  padding: 1%;
  color: white;
  text-align: center;
  font-weight: bolder;
  align-self: center;
  margin-left: 3%;
}
.user button:hover {
  background-color: rgba(16, 164, 184, 0.383);
}
.user h3, .user h3 span  {
  color: white;
  font-size: 15px;
  margin: 0;
}
