.createCampaign {
    position: absolute;
    display: flex;
    top: 30%;
    left:50%;
    width: 300px;
    height: 230px;
    background-color: #393F54;
    align-content: center;
    flex-direction: column;
    padding: 1%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .createCampaign h2 {
      text-align: center;
      color: lightgray;
      font-weight: 100;
      margin: 0 auto;
      border-bottom: 1px solid lightgray;
      width: 80%;
      height: 50px;
  }
  .close {
      background: none;
      border: none;
      width: 20px;
      height: 20px;
      padding: 0;
      display: inline-flex;
      align-self: flex-end;
      outline: none;
  }

  .fa {
    color: lightgray;
    font-size: 20px;
  }
  .input-field {
    display: inline-flex;
    width: 80%;
    height: 40px;
    background: none;
    border: 1px solid lightgrey;
    align-self: center;
    outline: none;
    margin-top: 8%;
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    color: lightgray;
    padding: 2%;
  }
  .form-button {
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 50px;
    width: 84%;
    background-color: #00CAE6;
    border: none;
    margin-top: 3%;
    font-size: 20px;
    font-family: 'Exo', sans-serif;
    font-weight: 200;
    padding: 2%;
    box-sizing: border-box;
  }
