<section>
  <form method="POST">
    <h1>
      Please fill form
    </h1>
    <input type="text" class="input-field" placeholder="Company name">
    <input type="text" class="input-field" placeholder="Phone">
    <input type="text" class="input-field" placeholder="Username">
    <input type="text" class="input-field" placeholder="Password">
    <input type="text" class="input-field" placeholder="Confirm Password">
    <div class="checkbox-container">
        <input type="checkbox" required class="checkbox">
        <label>I agree to the Terms and Conditions</label>
    </div>
    <button class="form-button">Register</button>
  </form>
</section>
