section {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    margin: 0 auto;
    background-color: #EBEDF3;
    height: 100%;
    width: 100%;
    align-self: flex-end;
    margin-left: 5px;
}
.back {
    background-color: #393F54;
    width: 100px;
    height: 50px;
    border: none;
    color: white;
    font-size: 20px;
    text-align: center;
}
.title {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 80%;
    align-self: center;
    margin-top: 3%;
}
h1, .title h3 {
    display: inline-flex;
    align-self: center;
    margin: 0 auto;
    vertical-align: baseline;
}
table {
    align-self: center;
    margin: 0 auto;
    margin-top: 3%;
    width: 80%;
}
th {
    background-color: #00CAE6;
    color: white;
    font-size: 25px;
    height: 50px;
}
td {
    background-color: white;
    color: #333333;
    font-size: 25px;
    height: 50px;
}
.pickLead {
    height: 25px;
    width: 25px;
    background: none;
}
.read, .unread, .inProgress {
    height: 25px;
    width: 25px;
    border: none;
    outline: none;
    margin: 5px;
}
.read {
    background-color: lightgreen;
}
.unread {
    background-color: tomato;
}
.inProgress {
    background-color: khaki;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -30px;
    left: 0;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
