<section>
  <div class="title">
      <button class="back" (click)="back()">Back</button>
      <h1 *ngIf="flag">Campaign of {{ title }}</h1>
      <h3 *ngIf="!loading">Loading...</h3>
  </div>
    <table *ngIf="flag">
        <tr>
            <th></th>
            <th>Status</th>
            <th *ngIf="leads[0].fname">First name</th>
            <th *ngIf="leads[0].lname">Last name</th>
            <th *ngIf="leads[0].fullname">Full name</th>
            <th *ngIf="leads[0].email">Email</th>
            <th *ngIf="leads[0].phone">Phone</th>
            <th *ngIf="leads[0].city">City</th>
            <th *ngIf="leads[0].street">Street</th>
            <th *ngIf="leads[0].street_num">Street number</th>
            <th *ngIf="leads[0].address">Address</th>
        </tr>
        <tr *ngFor="let lead of leads">
          <td><input type="checkbox" class="pickLead"></td>
          <td><button class="read tooltip a{{ lead._id }}" (click)="changeColor(lead._id, 'lightgreen', $event)" ><span class="tooltiptext">read</span></button><button class="unread tooltip a{{ lead._id }}" (click)="changeColor(lead._id, 'tomato')"><span class="tooltiptext">unread</span></button><button class="inProgress tooltip a{{ lead._id }}" (click)="changeColor(lead._id, 'khaki')"><span class="tooltiptext">In progress</span></button><button class="reset tooltip a{{ lead._id }}" (click)="changeColor(lead._id, 'white')"><i class="fas fa-undo fa-reset"></i><span class="tooltiptext">Reset color</span></button></td>
          <td *ngIf="lead.fname" class="a{{ lead._id }}"> {{ lead.lname }}</td>
          <td *ngIf="lead.lname" class="a{{ lead._id }}">{{ lead.lname }}</td>
          <td *ngIf="lead.fullname" class="a{{ lead._id }}">{{ lead.fullname }}</td>
          <td *ngIf="lead.email" class="a{{ lead._id }}">{{ lead.email }}</td>
          <td *ngIf="lead.phone" class="a{{ lead._id }}">{{ lead.phone }}</td>
          <td *ngIf="lead.city" class="a{{ lead._id }}">{{ lead.city }}</td>
          <td *ngIf="lead.street" class="a{{ lead._id }}">{{ lead.street }}</td>
          <td *ngIf="lead.street_num" class="a{{ lead._id }}">{{ lead.street_num }}</td>
          <td *ngIf="lead.address" class="a{{ lead._id }}">{{ lead.address }}</td>
      </tr>
    </table>
</section>

