section {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: flex-start;
    margin: 0 auto;
    background-color: #EBEDF3;
    height: 100%;
    width: 100%;
    align-self: flex-end;
    flex-wrap: wrap;
    margin-left: 5px;
}
table {
    margin: 0 auto;
    margin-top: 3%;
    width: 80%;
}
th {
    background-color: #00CAE6;
    color: white;
    font-size: 25px;
    height: 50px;
}
td {
    background-color: white;
    color: #333333;
    font-size: 25px;
    height: 50px;
}